<div class="card">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Telefono</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users;">
            <th scope="row">{{user.idUser}}</th>
            <td>{{user.nombre}}</td>
            <td>{{user.ciudad}}</td>
            <td>{{user.numero}}</td>
            <td><button type="button" class="btn btn-danger" (click)="deleteUser(user.idUser)">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
</div>