<div class="area">
  <div class="menu">
    <a class="link" routerLink="register">
      <i class="link-icon bi bi-person-add"></i>
      <span class="link-title">Registrar Usuario</span>
    </a>
    <a class="link" routerLink="users">
        <i class="link-icon bi bi-people-fill"></i>
        <span class="link-title">Usuarios</span>
    </a>
</div>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
<div class="container" style="padding-top:8rem;">
  <router-outlet></router-outlet>
</div>
</div>
<footer class="bg-dark text-light text-center py-3">
  <div class="container">
      <p>&copy; 2023 SC. Todos los derechos reservados.</p>
  </div>
</footer>