<div class="card" style="width: 100%">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="../../../assets/Imagen1.jpg" class="card-img" style="height: 100%" alt="..." />
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title mainTitle">¡Bienvenido!</h2>
                <p class="card-text" style="text-align: center">
                    Puedes registrarte llenando la siguiente información
                </p>
                <form>
                    <div class="form-group inputs">
                        <label for="exampleFormControlInput1">Nombre</label>
                        <input type="text" class="form-control" id="inputName" placeholder="SC" />
                    </div>
                    <div class="form-group inputs">
                        <label for="exampleFormControlSelect1">Ciudad</label>
                        <select class="form-control" id="inputCity">
                            <option>Bogotá</option>
                            <option>Medellín</option>
                            <option>Cartagena</option>
                        </select>
                    </div>
                    <div class="form-group inputs">
                        <label for="exampleFormControlTextarea1">Número</label>
                        <input type="number" class="form-control" id="inputNumber" placeholder="3216549898" />
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary inputs">
                            <b>Enviar</b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>